@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


h1,
h2 {
    font-family: Margarine;
}

h3 {
    font-family: "Sour Gummy", sans-serif;
    font-weight: 800;
    color: #ec4899;
}

p {
    font-family: "Playpen Sans", cursive;
    font-weight: 500;
}

.options:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;

}

a {
    text-decoration: none;
    font-family: "Sour Gummy", sans-serif;
}


.sub-menu {
    list-style: none;
    display: none;
    position: absolute;
    top: 40%;
    display: none;
    min-width: 100px;
}

.matriculas:disabled {
    background-color: #ccc;
    color: #666;
    background-color: #ccc;
    cursor: none;
    opacity: 0.6;
}

.sub-menu li {
    padding: 10px;
}

.drop-down:hover .sub-menu {
    display: block;
}

.hero img.movil {
    display: none !important;
}

.nav :where(#menu-close-button, #menu-open-button){
    display: none;
}


@media only screen and (max-width: 768px) {
      .nav :where(#menu-close-button, #menu-open-button) {
        font-size: medium;
    }

    .nav #menu-close-button {
        position: absolute;
        right: 38px;
        bottom: 470px;
        color: #a21c5f;
        display: block;
    }

    .nav #menu-open-button{
        color: #ec4899;
        display: block;
    }

    .nav .nav-menu {
        display: none;
    }

    .nav .nav-menu.open {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        gap: 5px;
        background-color: #f6f6f6;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .nav .nav-menu.open .nav-item {
        background: none;
        width: 100%;
    }

    .nav .nav-menu.open .nav-link {
        color: black;
        display: block;
        margin-top: 17px;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
    }


    html,
    body {
        width: 100vw;
        min-width: 0;
        max-width: 100vw;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #top {
        width: 100vw;
        min-width: 0;
        max-width: 100vw;
        height: auto;
        gap: 10px;
        padding: 0 10px;
    }

    .logo {
        gap: 5px;
        flex-direction: row;
        align-items: center;
    }

    .logo h1 {
        font-size: 17px;
        text-align: center;
        width: 100%;
    }

    .logo img {
        height: 50px;
        width: auto;
    }

    #top a {
        height: 25px;
        width: 25px;
        padding: 5px;
    }

    svg.cloud {
        width: 100vw !important;
        margin-top: -3px;
    }


    /*hero*/
    .hero {
        height: auto;
        width: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-top: 0;
    }

    .hero img.cLogo {
        display: none;
    }

    .hero h1 {
        font-size: 40px;
        padding-bottom: 30px;
        width: 80%;
        text-align: center;
    }

    .hero p {
        width: 70%;
        padding-top: 10%;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }


    .hero .camp-bg {
        display: none !important;
    }


    .hero img.campfire {
        display: none !important;
    }

    .hero img.camcam {
        display: none !important;
    }

    .hero img.movil {
        display: block !important;
    }

    /*content*/
    .contenido {
        flex-direction: column;
        padding: 20%;
        padding-top: 0%;
    }

    .contenido .requirements {
        margin-top: -35px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contenido .requirements h1 {
        font-size: 30px;
        margin: 20%;
    }

    .contenido .options img {
        width: 100vw;
        height: 80px;
        margin-top: -35px;
    }

    .contenido .requirements .list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contenido .requirements .list .options h2 {
        width: 50%;
        font-size: 10px;
        position: absolute;
        margin-left: 20px;
        margin-top: -60px;

    }

    .minicloud {
        display: none !important;
    }

    .folderw {
        display: none !important;
    }

    .slide h2 {
        position: relative;
        font-size: 25px;
        width: 100%;
        margin-left: 35px;

    }

    .slide{
        align-items: center;
        margin-top: 40%;
        width: 100%;
        height: auto;
        margin-right: 30%;
    }


    .gallery h2 {
        display: none;
    }


     /*footer*/

    footer svg.cloud-bottom {
        width: 100vw;
        margin-top: 140px;
        padding-top: 5px;
    }


    footer a {
        margin-top: 30px;
        height: 25px;
        width: 25px;
    }

    #social {
        gap: 10px;
        margin-top: 40px;
    }

    .logof {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        margin-top: -100px;
    }

    .logof img {
        width: 30px;
        height: auto;
    }

    .logof p {
        margin-top: 90px;
        font-size: 8px;
        width: 150px;
    }

    .phrase {
        display: none;
    }

}