@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


h1,
h2 {
    font-family: Margarine;
}

h3 {
    font-family: "Sour Gummy", sans-serif;
    font-weight: 800;
    color: #ec4899;
}

p {
    font-family: "Playpen Sans", cursive;
    font-weight: 500;
}

.options:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;

}

a {
    text-decoration: none;
    font-family: "Sour Gummy", sans-serif;
}

@media screen and (max-width: 900px) {
    html,
    body {
        width: 100vw;
        min-width: 0;
        max-width: 100vw;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #top {
        width: 100vw;
        min-width: 0;
        max-width: 100vw;
        height: 60px;
        gap: 10px;
        padding: 0 10px;
        box-sizing: border-box;
        justify-content: center;
    }

    #top a.home {
        display: none !important;
    }

    .logo {
        gap: 5px;
        flex-direction: row;
        align-items: center;
    }

    .logo h1 {
        font-size: 17px;
        text-align: center;
        width: 100%;
    }

    .logo img {
        height: 30px;
        width: auto;
    }

    #top a {
        height: 25px;
        width: 25px;
        padding: 5px;
    }

    svg.cloud {
        width: 100vw !important;
        margin-top: -3px;
    }

    /*hero*/
    .hero {
        max-height: 70vh;
        height: 70vh;
        min-height: 70vh;
        width: 100vw !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-top: 0;
    }


    .hero img.cLogo {
        height: 70px;
        width: 70px;
        margin-top: 150px;
        z-index: 2;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .hero h1 {
        font-size: 30px;
        width: 90vw;
        line-height: 45px;
        text-align: center;
        margin-top: -80px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero p {
        width: 90vw;
        text-align: center;
        margin-top: 100px;
        font-weight: 400;
        font-size: 14px;
        font-weight: 500;
        margin-left: auto;
        margin-right: auto;
    }
    

    .hero img.mountain2 {
        margin-top: 230px;
        width: 100vw;
        max-width: 100vw;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #folders {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 80px;
    }

    /*content*/
    .contenido {
        padding-top: 80px;
        flex-direction: column;
        padding-top: -30px;
        height: 130vh;
        width: 100vw;
        box-sizing: border-box;
    }


    /*footer*/

    footer svg.cloud-bottom {
        width: 100vw;
        margin-top: 100px;
        padding-top: 5px;
    }


    footer a{
        margin-top: 30px;
        height: 25px;
        width: 25px;
    }

    #social{
        gap: 10px;
        margin-top: 40px;
    }

    .logof{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        margin-top: -100px;
    }
    .logof img{
        width: 30px;
        height: auto;
    }

    .logof p{
        margin-top: 90px;
        font-size: 8px;
        width: 150px;
    }
}